<% if flash %>
  <% flash.each do |k,v| %>
    <div class="ui transition message <%= k.to_s %>">
      <i class="close icon"></i>
      <div class="header">
        <%= k.to_s.capitalize %>
      </div>
      <p><%= v %></p>
    </div>
  <%end%>
  <% flash.clear %>
<%end%>
