<%= form_tag new_ingredient_path, method: "post" do %>
  <input type="hidden" name="recipe_id" value="<%= params[:recipe_id] %>" />
  <p>
    <label>Qty</label>
    <input type="text" name="qty"/>
  </p>
  <p>
    <label>Item</label>
    <input type="text" name="name"/>
  </p>
  <p>
    <input type="submit" value="Next" />
</p>
<% end %>
