/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   box-sizing: border-box;
   margin:0;
   padding:0;
 }

h1 {
  font-family: 'Gentium Book Basic', serif;
  font-size: 3em;
}

h2, h3, h4 {
  font-family: 'Gentium Book Basic', serif;
  text-align: center;
}

body {
  font-family: 'Open Sans', sans-serif;
  /*background-color: #fffafa;*/
}

.ui.inverted.segment {
  border-radius: 0;
  margin: 0 auto;
}

.main.container {
  margin-top: 1.5em;
  background-color: none;
}

.ui.footer.segment {
  margin: 0 auto;
  padding: 1em 0em;
}

.content-container {
  margin: 0 auto;
  width: 800px;
  padding: 10px;
}

.spotlight-container {
  margin: 0 auto;
  width: 100%;
  height: 400px;
}

.spotlight-image {
  width: 100%;
  height: 400px;
  z-index: -1;
  position: absolute;
  object-fit: cover;
  opacity: 0.75;
}

.spotlight-text {
  margin: 0 auto;
  text-align: center;
  padding: 200px 0 0 0;
  text-shadow: 1px 1px #FFFFFF;
  max-width: 700px;
}

.column {
  max-width: 450px;
  margin: 3em;
}

.ui.aligned.grid .column {
  background: white;
}

.ui.middle.aligned.center.aligned.grid {
  background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url(user_img.jpg);
  background-size: cover;
  height: 500px;
}
