/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   box-sizing: border-box;
   margin:0;
   padding:0;
 }

h1, h2, h3, h4 {
  font-family: 'Gentium Book Basic', serif;
}

h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 2em;
  text-align: center;
}

h3 {
  font-size: 1.5em;
}

body {
  font-family: 'Open Sans', sans-serif;
  /*background-color: #fffafa;*/
}

.ui.inverted.segment {
  border-radius: 0;
  margin: 0 auto;
  height: auto;
}

.ui.main.text.container {
  min-height: 80%;
}

.main.container {
  margin-top: 1.5em;
  margin-bottom: 1em;
  background-color: none;
}

.ui.footer.segment {
  margin: 0 auto;
  padding: 1em 0em;
  width: 100%;
  bottom: 0px;
}

/*.content-container {
  margin: 0 auto;
  width: 800px;
  padding: 10px;
}*/

.spotlight-container {
  margin: 0 auto;
  width: 100%;
  height: 400px;
}

.spotlight-image {
  width: 100%;
  height: 400px;
  z-index: -1;
  position: absolute;
  object-fit: cover;
  opacity: 0.95;
}

.spotlight-text {
  margin: 0 auto;
  text-align: center;
  padding: 200px 0 0 0;
  color: #FFF;
  text-shadow: 1px 1px #000;
  max-width: 700px;
}

.column {
  max-width: 450px;
  margin: 3em;
}

.category-img{
  object-fit: contain;
  /*width:auto;*/
  /*height:auto;*/
  max-width:300px;
  max-height:300px;
}

.ui.aligned.grid .column {
  background: white;
}

.ui.middle.aligned.center.aligned.grid {
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(user_img.jpg);
  background-size: cover;
  height: 500px;
  /*margin: 0 auto;*/
}

#search-button {
  line-height: 1.42em;
}

#feature-container {
  background-color: #eee9e9;
  margin: auto;
  width: 100%;
  height: auto;
  text-align: center;
  color: black;
}

#review-container {
  background-color: #f0ffff;
  margin: 10px auto 0;
  width: 100%;
  height: auto;
  color: black;
}

#review {
  border: 1px solid #e0eeee;
  display: block;
}

#search-field {
  width: 400px;
  margin-right: 5px;
}

.content li {
  display: inline-block;
  padding: 10px 60px;
}

#flash-notices.ui.text.container {
  height: auto;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 10px auto;
}
